.footer{
    width: 100%;
    margin-bottom: 30px;

    nav{
        a{
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            color:rgba(60,30,0,0.3);
            font-size: 2rem;
            text-align: center;
            &:hover{
                color:rgba(60,30,0,0.6);
            }
            &:before{
                line-height: 40px;
            }
        }
    }
}
