/*
*===================================
*    GENERIC
*===================================
*/

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background: $bg;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba($darkbrown,0.6);
    text-align: center;
//    overflow: hidden;
}
p {
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
    font-weight: 400;
    padding: 0;
    margin: 0 auto;
    letter-spacing: 0.05em;
    font-size: 1.6rem;
    text-align: left;
    max-width: 640px;
    //text-shadow: 0.03em 0.03em 0 rgba(255,50,0,0.8), -0.03em -0.03em 0 rgba(255,200,0,0.8);
    @media screen and (max-width: $break-tablet){
        font-size: 1.5rem;
    }
    @media screen and (max-width: $break-mobile){
        font-size: 1.3rem;
    }
}

h1,h2,h3,h4,h5{

}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Baron Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 1em;
    color: rgba($darkbrown,0.4);

    @media screen and (max-width: $break-tablet){
        font-size: 2.4rem;
    }
    @media screen and (max-width: $break-mobile){
        font-size: 1.8rem;
        letter-spacing: 0.1em;
    }
}
h2{
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-shadow: none;
    font-weight: 400;
    color: rgba($darkbrown,0.5);
    line-height: 2em;
    font-family: 'Antic Slab', serif;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: $break-tablet){
        font-size: 1.6rem;
    }
    @media screen and (max-width: $break-mobile){
        font-size: 1.4rem;
        margin-bottom: 0;
    }
}

a,a:active,a:visited {
    display: inline-block;
    color: rgba($darkbrown,0.8);
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    cursor: pointer;
    &:after,&:before{
        content: "";
        display:block;
        position:absolute;
        width: 0%;
        height: 1px;
        background: rgba($darkbrown,0.4);
        left: 0;
        top:80%;
        transition: width .4s ease;
    }
    &:hover:after,&:hover:before{
        width: 100%;
        left: inherit;
        right: 0;
        transition: width .2s ease;
    }
    &:before{
        top: 15%;
        left: inherit;
        right: 0;
    }
    &:hover:before{
        right: inherit;
        left: 0;
    }
    &:hover{
        color: rgba($darkbrown,1);
        transition: all 0s ease;
    }
}

.shadowed{
    //&:hover{
    color: #f8f8f8 !important;
    text-shadow: 0 -0.04em 0px rgba(255,255,255,1), //Light
    0 0 0.2em rgba($darkbrown,0.3), //AO
    0 0.05em 0 rgba($darkbrown,0.1), //Shadow
    0 0.1em 0.01em rgba($darkbrown,0.040),
    0 0.15em 0.02em rgba($darkbrown,0.035),
    0 0.2em 0.03em rgba($darkbrown,0.03),
    0 0.25em 0.04em rgba($darkbrown,0.025),
    0 0.3em 0.05em rgba($darkbrown,0.02),
    0 0.35em 0.06em rgba($darkbrown,0.015),
    0 0.4em 0.07em rgba($darkbrown,0.01),
    0 0.45em 0.08em rgba($darkbrown,0.005),
    0 0.5em 0.09em rgba($darkbrown,0.001);
//}
}

audio{
    display: none;
}

.hidden{
    display: none !important;
    opacity: 0 !important;
}

.container{
    position: relative;
    overflow: hidden;
}
