.header{

    h1{
        font-size: 7rem;
        color:$bg;
        margin-top: 60px;

        transition: all 1s ease;
    }

    img{
        display: none;
    }
    &__nav{
        *display: none;
    }
}
