.header{

    padding: 0 5%;
    h1{
        font-size: 6.2rem;
        text-align: right;
        text-align: center;
        color: rgba($darkbrown,0.2);

        transition: transform .3s ease, opacity .3s ease;

        @media screen and (max-width: $break-tablet){
            font-size: 5rem;
            text-align: center;
        }
        @media screen and (max-width: $break-mobile){
            font-size: 3.5rem;
        }
    }
    &__container{
        display: block;
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        padding-top: 75px;

        @media screen and (max-width: $break-tablet){
            *padding-top: 120px;
            padding-top: 50px;
        }
        @media screen and (max-width: $break-mobile){
            *padding-top: 100px;
            padding-top: 30px;
        }
    }
    &__vid{
        display: none;
        background: $bg;
        margin: 0 auto;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: -1;
        width: 400px;
        margin-left: -70px;

        @media screen and (max-width: $break-tablet){
            top: 0px;
            width: 360px;
            margin-left: -180px;
            left: 50%;
        }
        @media screen and (max-width: $break-mobile){
            top:0;
            width: 320px;
            margin-left: -160px;
        }
    }
    h2{
        *display: none;
    }

    &__nav{
        *display: none;
        margin-top: 60px;
        li{
            display: inline-block;
            margin: 0 20px;
            a{
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 1.2rem;
                letter-spacing: 0.1em;
                line-height: 3em;
                text-transform: uppercase;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                }
            }
        }
        &--active:after, &--active:before{
            width: 100%;
        }

        @media screen and (max-width: $break-tablet){
            margin-top: 40px;
        }
        @media screen and (max-width: $break-mobile){
            margin-top: 20px;
        }
    }
}
