.projects{
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    text-align: center;
    overflow: visible;

    @media screen and (max-width: $break-tablet){
        width: 80%;
    }
    @media screen and (max-width: $break-mobile){
        width: 95%;
        margin-top: 0;
    }
}

.project{
    display: inline-block;
    display: none;
    padding: 50px;
    transition: height .3s ease;
    overflow: visible;

    @media screen and (max-width: $break-mobile){
        padding: 45px;
    }

    &__container{
        position: relative;
        width: 100%;
        height: 100%;
        //box-shadow: 0 0.2em 0px rgba(255,255,255,1) inset, //Light
        //            0 0 0.1em rgba($darkbrown,0.3); //AO
        transform: rotate(45deg) translateY(5%) scale(1);
        background: $bg;
        margin: 0 5%;
        margin-top: 0;
        padding-bottom: 20%;
        transition: all .3s ease-in;
        z-index: 0;
        perspective: 1000;
        transform-style: preserve-3d;

        &:hover{
            cursor: pointer;
            //box-shadow: 0 0.2em 0px rgba(255,255,255,1) inset, //Light
            //            2em 2em 3em rgba($darkbrown,0.2); //AO
            transform: rotate(45deg) translateY(5%) scale(1.1);
            z-index: 10;
            transition: all .6s ease-out;

            .project__overlay{
                h1{
                    opacity: 0;
                    transform: translateY(2em);
                }
                p{
                    opacity: 0;
                    transform: translateY(2em);
                }
                .duotone{
                    opacity: 0;
                }
            }
        }
    }
    &__effect{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 1;
        transform: scale(1);

        &--play{
            transition: transform .6s ease-out, opacity .6s ease;
            transform: scale(1.8);
            opacity: 0;
        }

    }

    &__inner{
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        //border: 1px solid rgba($darkbrown,0.4);
        border: 2px solid rgba($darkbrown,0.4);
        //box-shadow: 0 0.2em 0px rgba(255,255,255,1), //Light
        //0 0 1em rgba(60,30,0,.1) inset; //AO

        overflow: hidden;
    }
    &__overlay{
        display: table;
        position: relative;
        width: 150%;
        height: 150%;
        margin-top: -25%;
        margin-left: -25%;
        transform: rotate(-45deg);
        text-align: center;
        &>div{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
        img{
            //Thumbnail
            position: absolute;
            top: -20%;
            left: -50%;
            z-index: -10;
            height: 140%;
            //filter: grayscale(1) brightness(1);
            transition: transform .6s ease-out;
        }
        .duotone{
            opacity: 0;
            transition:opacity .6s ease-out, transform .6s ease-out;
        }
        .processed{
            opacity: 1;
        }
        h1{
            //Title of the project
            font-family: "Open Sans", sans-serif;
            color: rgba($darkbrown,0.7);

            font-size: 1.6rem;
            line-height: 1.5em;
            letter-spacing: 0.15em;
            padding: 0 17%;
            padding-top: 5%;
            transition: transform .3s ease, opacity .3s ease;

            @media screen and (max-width: $break-tablet){
                font-size: 1.4rem;
            }
            @media screen and (max-width: $break-mobile){
                font-size: 1.2rem;
            }
        }
        p{
            letter-spacing: 0.1em;
            transition: transform .3s ease, opacity .3s ease;
            font-family: 'Antic Slab',serif;
            @media screen and (max-width: $break-mobile){
                display: none;
            }
        }
    }

    &[squary-size="1x1"]{
        @media screen and (max-width: $break-mobile){
        }
    }
    &[squary-size="2x2"]{
        padding: 100px;
        .project__overlay{
            h1{
                font-size: 2.2rem;
                @media screen and (max-width: $break-tablet){
                    font-size: 2.0rem;
                }
                @media screen and (max-width: $break-mobile){
                    font-size: 1.8rem;
                }
            }
            p{
                font-size: 1.6rem;
            }
        }
        @media screen and (max-width: $break-mobile){
            padding: 90px;
        }
    }

    &--open{
        padding: 0;
        z-index: 1000 !important;

        .project__container{
            transform: rotate(0) rotateY(180deg) translateY(0) !important;

            //box-shadow: 0 0.2em 0px rgba(255,255,255,1) inset, //Light
            //            0 2em 3em rgba($darkbrown,0.2); //AO
        }
    }

}

.a_project{

    position: fixed;
    width: 50%;
    top: 0;
    left:0;
    height: 100%;
    background: #f8f8f8;
    z-index: 100;
    transition: left .6s ease-out, transform .8s ease;
    padding: 5%;
    transform: skewX(30deg) translateX(-150%);

    &__header{
        h1{
            margin-bottom: 5%;
        }
    }

    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        background: #f8f8f8;
        cursor: pointer;
        transition: transform .3s ease;
        @media screen and (min-width: $break-tablet){
            display: none;
        }
        span{
            display: block;
            position: absolute;
            top: 25px;
            left: 9px;
            width: 30px;
            height: 2px;
            background: rgba($darkbrown,0.4);

            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(2){
                transform: rotate(-45deg);
            }

        }

        &:hover{
            transform: rotate(90deg);
        }
    }

    @media screen and (max-width: $break-tablet){
        width: 100%;
        transform: skewX(30deg) translateX(-200%);
    }

    &--open{
        left: 0;
        transform: skewX(0deg) translateX(0);
    }
}
